.navbar
    .container.navbar__container
        nav.navbar__nav
            ul.navbar__nav-list
                li.navbar__item
                    a.navbar__nav-link Главная
                li.navbar__item
                    a.navbar__nav-link О седоне
                li.navbar__item
                    a.navbar__nav-link Гостиницы
        img.navbar__logo(src="images/logo.svg")
        .navbar__links
            a.navbar__search(href="#")             
            a.navbar__favorits(href="")
                i.nabar__favorits-counter 12
            a.btn.btn--dark Хочу сюда
