extends layouts/main.pug
block header
    header.page-header
        
        include particials/navbar.pug
    
block main
    include particials/hero.pug
    include particials/benefits.pug
    include particials/call-to-act.pug
    include particials/subscribe.pug
    
    
block footer 
    include particials/footer.pug