extends pug/layouts/main.pug


block header
    include pug/particials/navbar.pug

block main
    include pug/particials/hero.pug
    include pug/particials/benefits.pug
    include pug/particials/call-to-act.pug
    include pug/particials/subscribe.pug


block footer 
    include pug/particials/footer.pug