.navbar {
    padding: 14px 0;
   
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 72px;
    align-items: center;
}

.navbar__nav-list {
    margin: 0;
    padding: 0;    
    top: 0;
    list-style-type: none;
    display: flex;
}
.navbar__item {
    margin-right: 35px;
}
.navbar__item:last-child {
    margin-right: 0;
}

.navbar__nav-link {
    line-height: 37px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;


}

.navbar__logo {
    position: absolute;
    top: 0;
    left: 50%;
    top: -14px;
    transform:translateX(-50%);

}